.indev {
    h1 {
        color: green
    }
    p {
        color:darkcyan
    }

    .inindev {
        h1 {
            color: green
        }
        p {
            color:darkcyan
        }
    }
}
